/* canvas styles */
html, header
{
    float: top;
    margin: 0;
}

#header
{
    background-color: #382D2B;
    color:#998885;
    font-family:sans-serif,serif;
	justify-content:center;
}

html, body
{
    font-family:sans-serif,serif;
    color:#000;
    margin: 0
}

body
{
    background: repeating-linear-gradient(145deg, #332727, #332727 10px, #4F3D3D 10px, #4F3D3D 20px);
}

.container1 
{
    position: center;
    width: 42%;
    height: 16em;
}

.boxShadow
{
	margin:25px;
	color:#998885;
	background-color:#382D2B;
	box-shadow:2px 4px #232121;
	opacity:0.9;
	padding:1%;
}

.noselect{
	box-shadow:1px 2px;
	background-color:#353232;
}

#button
{
	background-color:#353232;
	width:14%;
	height:7.5%;
	border:none;
	float:center;
	box-shadow:1px 2px #000000;
	-webkit-appearance:none;
	position:fixed;
	bottom:0px;
	left:43%;
	border-radius:10px 10px 0px 0px;
	color:#998885;
	font-size:1.25em;
}

#leftButton
{
	background-color:#353232;
	width:14%;
	height:10%;
	border:none;
	float:center;
	box-shadow:1px 2px #232121;
	-webkit-appearance:none;
	position:fixed;
	bottom:0px;
	border-radius:0px 10px 0px 0px;
	color:#998885;
	font-size:1.25em;
}

#rightButton
{
	background-color:#353232;
	width:14%;
	height:10%;
	border:none;
	float:right;
	box-shadow:2px 1px #232121;
	-webkit-appearance:none;
	position:fixed;
	bottom:0px;
	border-radius:10px 0px 0px 0px;
	right:0;
	color:#998885;
	font-size:1.25em;
}

#BaSS
{
	width:100%;
	margin:0 auto;
}

/* draggable targets */
[data-draggable="target"]
{
    list-style-type:none;
    
    width:21%;
    height:7.5em;
    overflow-y:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding:0.5em;
    border:2px solid #332727;
    background-color: #60514F;
    color:#232425;
}

/* draggable items */
[data-draggable="item"]
{
    display:block;
    list-style-type:none;
    
    margin:0 0 7px 0;
    padding:0.2em 0.4em;
    
    border-radius:0.2em;
    line-height:1.3;
}


